@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cyberpunk';
    src: url('../public/fonts/Cyberpunk.ttf');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../public/fonts/BebasNeue.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat.ttf');
}

@font-face {
    font-family: 'Cyber';
    src: url('../public/fonts/Cyber.ttf');
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        black,
        hsla(0, 0%, 0%, 0.432)
    )!important;
}